
@media (max-width: 600px){
    .locationList{
        max-height: 40vh;
        margin-bottom: 20px;
    }
    
}

.forecast-title{
    color:white;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
}